/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Header Styling */
.header {
    -fx-background-color: #E1AD01;
    -fx-text-fill: darkred;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-alignment: center;
}

/* Button Styling */
.button {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
